@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");

body {
  font-family: 'Lato', serif;
  font-size: 22px;
  margin: 0px;
}
h1, h2, h3, a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}
