.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 35%),
	url(../../images/dogs.jpg);   
	background-size: cover;     
	background-position: center;
}

.banner h1 {
	color: lightgray;
 	font-size: 70px;
}

.banner h2 {
	color: lightgrey;
	font-size: 40px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}

